*{
    margin: 0;
    padding: 0;
}


.wrapper{
    max-width: 950px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo{
    color: #fff;
    font-family: sans-serif;
    width: 165px;
    float: left;
    padding: 20px 0 0 0;
}

.logo img{
    float: left;
    padding: 0 10px 0 0;
}


.logo p{
    padding: 10px 0 0 0;
}

.nav{
    min-height: 110px;
    background: #f46262;
    overflow:hidden;
}

nav li{
    display: inline-block;
    float: right;
    margin: 50px 25px 0px 0px;
}

nav li a{
    text-decoration: none;
    color: #fff;
    padding: 10px 10px;
}


nav li a:hover{
    background-color: #232323;
    border-radius: 5px;
}

.header{
    min-height: 170px;
    background: #eb504e;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
}

.header h1{
    letter-spacing: 10px;
    padding: 30px 0 27px 0;
}

.service{
    min-height: 370px;
    background: #232323;
    text-align: center;
    font-family: sans-serif;
}

.service h2{
    color: #fff;
    letter-spacing: 10px;
    padding: 43px 0 20px 0;
}

.service p{
    color: #b75e5a;
    padding: 0 0 40px 0;
}

.product{
    display: inline-block;
    padding: 0 30px 0 30px;
    width: 228px;
}

.product h3{
    color: #fff;
    padding: 20px 0 10px 0;
}

.contact{
    min-height: 510px;
    background: #6cc372;
    text-align: center;
    font-family: sans-serif;
}

.contact h2{
    color: #fff;
    letter-spacing: 10px;
    padding: 43px 0 20px 0;
}

.contact p{
    color: #112d14;
    padding: 0 0 20px 0;

}

.follow{
    display: inline-block;
    width: 225px;
    height: 345px;
    background: #fff;
    border-radius: 3px;
    padding: 0 3px 0 3px;
}

.follow img{
    padding: 25px;
}

.follow h3{
    color: #68b474;
}

.follow p{
    color: #c65f5a;
    padding: 25px 0 25px 0;
}

.button{
    padding: 10px 60px;
    margin: 0 0 10px 0;
    background: #6cc372;
    color: #fff;
    border-radius: 5px;
    font-family: sans-serif;
    text-decoration: none;
}

.footer{
    min-height: 50px;
    background: #232323;
}

.footer p{
    color: #fff;
    padding: 15px 0 15px 0;
    float: left;

}

.footer span{
    color: #c25e66;
}

.social{
    float: right;
    padding: 8px 0;
}
